[submodule "libs/x264-rs"]
	path = libs/x264-rs
	url = https://github.com/MahitMehta/x264-rs.git
	branch = master
[submodule "libs/pipewire-rs"]
	path = libs/pipewire-rs
	url = https://github.com/MahitMehta/pipewire-rs.git
[submodule "libs/libyuv-sys"]
	path = libs/libyuv-sys
	url = https://github.com/MahitMehta/libyuv-sys.git
[submodule "libs/scrap"]
	path = libs/scrap
	url = https://github.com/MahitMehta/scrap.git