[Unit]
Description=Mrial Server
After=syslog.target network.target network-online.target sshd.service
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=1s
StartLimitIntervalSec=15s
StartLimitBurst=3
ExecStart=/var/lib/mrial_server/scripts/startup.sh

[Install]
WantedBy=multi-user.target